body{
    background-color: #993392;
    background-image: url(./image.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    height: 300vh;

    
}


h1{
    text-transform:lowercase;

    color:blue;

letter-spacing: 2px;
font-size: 2rem;
text-shadow: 3px 1px 13px #993392;
text-align: center 
}


main{
background-color: rgb(241, 241, 255);
width: 85%;
min-height: 500px;
margin-left: 10px autos;
padding: 10px 40px
;
border-radius: 10px;
box-shadow: 0 0 0 brown;

}
/* la transformation */
/* pour chercher la police il faut aller sur google font */

