


body{
    background-color: #993392;
    background-image: url(./image.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    height: 300vh;

    
}


h1{
    text-transform:lowercase;

    color:blue;

letter-spacing: 2px;
font-size: 2rem;
text-shadow: 3px 1px 13px #993392;
text-align: center 
}


main{
background-color: rgb(241, 241, 255);
width: 85%;
min-height: 500px;
margin-left: 10px autos;
padding: 10px 40px
;
border-radius: 10px;
box-shadow: 0 0 0 brown;

}

.position,.flexbox{
    border: 2px solid royalblue;
    padding: 10px;
    position:relative;

    

}

h2{
    margin:0;
}

#circle{
    height: 15px;
    width: 100px;
    padding:20px;
    position:absolute;
    border-radius: 50%;;
    top:5px;
    right:110px;
    box-shadow: 0 2px  12px 5px rebeccapurple;
}

#rectagle
{
height:15px;
width: 100px;
background: red;
position:absolute;
padding:20px;
bottom:5px;
left:50%;
transform:translateX(-50%);



}





    
   
/* la transformation */
/* pour chercher la police il faut aller sur google font */

